
h1{
    color: red;
    text-align: center;
}
h2{
    color: blueviolet;
}

h3{
    color: goldenrod;
}

.text-cent{
    text-align: center;
}

#links{
    text-align: center;
}

#ulist{
    padding-left: 715px;
}

img{
    max-width: 240px;
    max-height: 240px;
}
